<footer class='footer'>
	<p class='footer__text'>Projeto Tecnologia QR CODE com aplicação na Câmara Municipal de Itapetininga</p>
	<p class='footer__text'>2018, Fatec Itapetininga - Câmara Municipal de Itapetininga</p>
</footer>
</body>
</html>