<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">    
    <title>Admin Câmara</title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
    </head>
    <body>
        <div class='ui fixed inverted menu'>
            <div class='ui container'>
                <div class='header item'> <img src="/images/icon.png" alt="">História da Câmara</div>
                <a href='/people' class='item'>Pessoas</a>
                <a href='/places' class='item'>Locais</a>
            </div>
          <div class="right menu">
            <a class="ui item" href='/logout'>
              Sair
            </a>
          </div>            
        </div>

    <% if (hasOwnProperty('msg')) {%>

    <div class="ui <%= msg.status %> message" id='message'>
      <p class="close icon" id='close-message'>X</p>
      <div class="header">
        <%= msg.title %>
      </div>
        <%= msg.message %>
    </div>
    <% } %>

    <script>
        document.getElementById('close-message').addEventListener('click', function() {
            document.getElementById('message').style.display = 'none';
          });
    </script>